########################################################################################################################

###------------------------------------------------------------------------------------------------------------------###

###                                   Copyright © 2015-2017 Thought Grains Solutions.                                ###

###                                               All Rights Reserved.                                               ###

###                                                                                                                  ###

###             This software is the confidential and proprietary information of Thought Grains Solutions.           ###

###                                          (Confidential Information)                                              ###

###  --------------------------------------------------------------------------------------------------------------  ###

########################################################################################################################

###                                                                                                                  ###

###   File Name   :   requirements.txt                                                                               ###

###   Description :   requirements.txt                                                                               ###

###                                                                                                                  ###

###   Date :   25/05/2016                                          Created By  :   Thoughtgrains Solutions           ###

########################################################################################################################

Werkzeug==0.11.11
cassandra-driver==3.7.1
flask-cors==3.0.2
flask-cqlalchemy==1.2.0
Flask-HTTPAuth==3.2.1
passlib==1.6.5
simplejson==3.10.0
