<!--- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////

///------------------------------------------------------------------------------------------------------------------///

///                                   Copyright © 2015-2017 Thought Grains Solutions.                                ///

///                                               All Rights Reserved.                                               ///

///                                                                                                                  ///

///             This software is the confidential and proprietary information of Thought Grains Solutions.           ///

///                                          (Confidential Information)                                              ///

///  --------------------------------------------------------------------------------------------------------------  ///

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

///                                                                                                                  ///

///   File Name   :   ForgotPassword.html                                                                            ///

///   Description :   ForgotPassword.html                                                                            ///

///                                                                                                                  ///

///   Date :   03/07/2016                                          Created By  :   Thoughtgrains Solutions           ///

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --->

<div id="container">
    <div class='breadcrumb-layers'>
        <div class='inners'>
            <ul class='cf'>
                <li><a class="projects active" href="#projects"><span>1</span><span>Forgot Password</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div id="content">
        <div class="padding-top">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="row">
                    <span class="col-lg-12">Please enter your Email id. We will generate the password for you</span>

                    <form action="" autocomplete="off" name="ForgotPasswordForm" id="ForgotPasswordForm"
                          method="post">
                        <span class="col-lg-12" id="user-error">&nbsp;</span>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email*" required="required"
                                   id="email" name="email">
                        </div>
                        <div class="form-group">
                            <span class="col-lg-2" id="main-captcha"></span>
                            <input class="refresh" type="button" id="refresh" value="" onclick="Captcha();"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Add Captcha here*"
                                   required="required" id="txtInput" name="txtInput">
                        </div>
                        <div class="form-group" style="margin-top:10px;float:left;">
                            <button type="button" id="ForgotPassword" onclick="return validateUser();"
                                    class="btn btn-primary">Submit
                            </button>
                            <button type="submit" class="btn btn-primary" id="cancel-btn"
                                    onclick="window.location.href='#login'">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <a href="http://www.thoughtgrains.com/">Thought Grains Solutions</a>
    &copy; 2009-2016 All Rights Reserved.<br/>
</footer>

<!--</body>-->
<script src="js/app/forgotPassword.js"></script>
;